<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <header>
    <img src="logo.png" alt="Bilal Kareem Logo">
    <div>
      <h1>Bilal Olakunle Kareem - DevSecOps Professional</h1>
      <p>
        <a href="https://www.linkedin.com/in/bilaldevsec" target="_blank">
          <img src="https://img.shields.io/badge/-LinkedIn-0072b1?&style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn">
        </a>
      </p>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
